@font-face {
  font-family: 'Diodrum';
  src: url(assets/Fonts/Diodrum-Semibold.ttf);
}

:root {
  --primary_color: #222831;
  --secondary_color: #393E46;
  --tertiary_color: #00ADB5;
  --quaternary_color: #EEEEEE;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Diodrum', 'Roboto', sans-serif;
  background-color: var(--primary_color);
  background-image: url(assets/Images/e1e907c4-aef4-4bba-a796-e2feff90a1b0.webp);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--quaternary_color);
}