                           /* :root {
  --primary_color: #222831;
  --secondary_color: #393E46;
  --tertiary_color: #00ADB5;
  --quaternary_color: #EEEEEE;
} */

.snap-position-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.snap-position-container.shown {
  display: block;
}

.navbar-snappoint {
  position: absolute;
  border-radius: 99999999999px;
  outline: 3px solid rgba(255, 250, 250, 0.5);
  background-color: rgba(255, 250, 250, 0.1);
  height: 8vh;
  width: 300px;
  top: 0px;
  left: 0px;

  color: snow;
  padding: auto;
  transform: translate(0, 0);
  transition: transform, height, width 0.3s;
}

.navbar-container {
  position: fixed;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.7);

  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
  padding-right: 3rem;

  border-radius: 99999999999px;
  height: 8vh;
  transition: 0.3s;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-container.vertical {
  flex-direction: column;
  height: max-content;
  width: 8vh;
  padding: 3rem 0.3rem;
  padding-top: 1rem;
}

.navbar-container:has(:hover) {
  transform: translateX(calc(-50% -2vh));
  transition: 0.3s;
}

.navbar-item {
  height: calc(8vh - 0.6rem);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  background: none;
  border: none;
  color: var(--quaternary_color);
}

.purple-hover:not(.rebecca) ~ .navbar-item:hover:not(.nohover) {
  background-color: rgba(102, 51, 153, 0.7);
  height: calc(10vh - 0.6rem);
  justify-content: space-around;
  transition: 0.3s;
}
.navbar-container:not(.vertical) > .purple-hover:not(.rebecca) ~ .navbar-item:hover:not(.nohover)::before,
.navbar-container.bottom > .purple-hover:not(.rebecca) ~ .navbar-item:hover:not(.nohover)::before,
.navbar-container.vertical > .purple-hover:not(.rebecca) ~ .navbar-item:hover:not(.nohover)::before,
.navbar-container.vertical.left > .purple-hover:not(.rebecca) ~ .navbar-item:hover:not(.nohover)::before {
  content: '';
  mix-blend-mode: screen;
  position: absolute;
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-container:not(.vertical) > .purple-hover:not(.rebecca) ~ .navbar-item:hover:not(.nohover)::before {
  animation: showNavbarStretchUp 0.3s 1;
  clip-path: inset(0 0 calc(8vh - 1px) 0);
}
.navbar-container:not(.vertical).bottom > .purple-hover:not(.rebecca) ~ .navbar-item:hover:not(.nohover)::before {
  animation: showNavbarStretchDown 0.3s 1;
  clip-path: inset(8vh 0 0 0);
}
.navbar-container.vertical > .purple-hover:not(.rebecca) ~ .navbar-item:hover:not(.nohover)::before {
  animation: showNavbarStretchRight 0.3s 1;
  clip-path: inset(0 0 0 8vh);
}
.navbar-container.vertical.left > .purple-hover:not(.rebecca) ~ .navbar-item:hover:not(.nohover)::before {
  animation: showNavbarStretchLeft 0.3s 1;
  clip-path: inset(0 calc(8vh - 1px) 0 0);
}

.navbar-container:not(.vertical) > .purple-hover:not(.rebecca) ~ .navbar-item:hover:not(.nohover) { transform: translateY(-1vh); }
.navbar-container.bottom > .purple-hover:not(.rebecca) ~ .navbar-item:hover:not(.nohover) { transform: translateY(1vh); }
.navbar-container.vertical > .purple-hover:not(.rebecca) ~ .navbar-item:hover:not(.nohover) { transform: translateX(1vh); }
.navbar-container.vertical.left > .purple-hover:not(.rebecca) ~ .navbar-item:hover:not(.nohover) { transform: translateX(-1vh); }

@keyframes showNavbarStretchDown {
  from {
    transform: translateY(calc(1vh - 1px));
    clip-path: inset(8vh 0 2vh 0);
  } to {
    transform: translateY(-1px);
  }
}

@keyframes showNavbarStretchUp {
  from {
    transform: translateY(-1vh);
    clip-path: inset(2vh 0 8vh 0);
  } to {
    transform: translateY(1px);
  }
}

@keyframes showNavbarStretchRight {
  from {
    transform: translateX(-1vh);
    clip-path: inset(0 2vh 0 8vh);
  } to {
    transform: translateX(1px);
  }
}

@keyframes showNavbarStretchLeft {
  from {
    transform: translateX(1vh);
    clip-path: inset(0 8vh 0 2vh);
  } to {
    transform: translateX(-1px);
  }
}

.navbar-item .icon {
  height: 4vh;
  width: 4vh;
  aspect-ratio: 1 / 1;
}
.navbar-item.smaller .icon {
  height: 3.5vh !important;
  width: 3.5vh !important;
}

.purple-hover:not(.rebecca) ~ .navbar-item:hover:not(.nohover) .icon {
  animation: iconAnimation 1s 1 ease-in-out;
  animation-delay: 0.3s;
}

.navbar-item span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--quaternary_color);
  justify-self: center;
  align-self: center;
  opacity: 0;
  position: absolute;
}

.purple-hover:not(.rebecca) ~ .navbar-item:hover span {
  position: relative;
  opacity: 1;
  transform: translate(0, -1.5vh);
  transition: 0.5s;
}

.purple-hover:hover {
  color: rgba(102, 51, 153, 0.7);
  transition: 0.5s;
}

.rebecca {
  color: rgba(102, 51, 153, 0.7);
}

@media screen and (max-width: 768px) {
  .navbar-container {
    width: 100vw;
  }
}


@keyframes iconAnimation {
  0% {
    transform: rotate(0deg);
  } 25% {
    transform: rotate(-15deg);
  } 75% {
    transform: rotate(15deg);
  } 100% {
    transform: rotate(0deg);
  }
}