.project-container {
  height: 25vh;
  width: 25vw;
  border-radius: 1.25rem;
  z-index: 3;
  margin: 3.125vw;
  overflow: hidden;
}
.project-container:hover,
.project-container:hover .project-card {
  transform: scale(1.15);
  transition: 0.5s;
}
.project-container:not(:hover) { transition: 0.5s; }

.project-container.active {
  height: 100vh;
  width: 100vw;
  transition: 1.5s;
}
.project-container.active .project-iframe {
  transform: scale(1);
  transition: 1.5s;
}







.project-iframe {
  border: none;
  height: 100vh;
  width: 100vw;
  transform: scale(0.25);
  transform-origin: top left;
  border-radius: 0;
}
.project-card {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 5rem;
  color: snow;
}