.project-container {
  height: 25vh;
  width: 25vw;
  border-radius: 1.25rem;
  margin: 3.125vw;
  overflow: hidden;
}

.project-container:hover {
  transform: scale(1.15);
  transition: 0.5s;
}

.project-container:not(:hover) { transition: 0.5s; }

.project-container.active {
  border-radius: 0px;
  transform: scale(1);
  transition: 1.5s;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}
.project-container.active:hover { z-index: 3; }

.project-container.active .project-iframe {
  transform: scale(1);
  transition: 1.5s;
}



.project-container:hover .project-card {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 250, 250, 255);
}


.project-iframe {
  border: none;
  height: 100vh;
  width: 100vw;
  transform: scale(0.25);
  transform-origin: top left;
  border-radius: 0;
}
.project-card {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 3%;

  color: rgba(255, 250, 250, 0);
  transition: background-color 0.3s;
  transition: color 0.3s;
}
.project-description {
  font-size: 0.9rem;
}