* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.app {
  height: max-content;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

.app-header {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.headertext-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-header {
  font-size: 10rem;
}

.regular-header {
  font-size: 5rem;
  width: max-content;
  min-height: 7rem;
}

@media screen and (max-width: 768px) {
  .big-header {
    font-size: 12vw;
    max-width: 80vw;
  }

  .regular-header {
    font-size: 6vw;
    max-width: 70vw;
  }
}

.App main {
  flex: 1;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(calc(100vh - 86vw));
}

.about-me-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about-me-header {
  margin: 10vh 0px;
}

.about-me-text-container {
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* outline: 3px solid red; */
}

.about-me-text-header {
  margin-left: calc(100vw / 3 - 10vw);
  outline: 3px solid red;
}

.about-me-text {
  outline: 3px solid red;
}
