* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.app {
  height: max-content;
  position: absolute;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

.app > * {
  overflow: hidden;
}

.app-header {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.headertext-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-header {
  font-size: 10rem;
}

.regular-header {
  font-size: 5rem;
  width: max-content;
  height: 7rem;
}

.small-header {
  font-size: 2.5rem;
}

.regular-text {
  font-size: auto;
}

.app main {
  flex: 1;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about-me-container {
  height: 140vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about-me-header {
  margin: 10vh 0px;
}

.about-me-text-container {
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20vh;
}

.about-left {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 25vh;
  width: 30vw;
}

.about-left::after {
  content: "";
  position: absolute;
  height: 17vh;
  width: 0.8vw;
  background-color: aliceblue;
  transform: translateX(35vw);
}

.about-me-text-header {
  text-transform: capitalize;
  justify-self: center;
}

.about-me-image {
  aspect-ratio: 1 / 1;
  height: 25vh;
}

.about-me-text {
  width: 40vw;
}


#projects-wrapper {
  min-height: 101vh;
  height: max-content;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#projects-header {
  margin-top: 10vh;
}

.projects-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3.125vw;
}
.projects-container:has(.project-container.active) {
  padding: 0px;
}





@media screen and (max-width: 768px) {
  .big-header {
    font-size: 12vw;
    max-width: 80vw;
  }

  .regular-header {
    font-size: 6vw;
    max-width: 70vw;
  }

  .about-me-container {
    height: 200vh;
  }

  .about-me-text-container {
    flex-direction: column;
    margin-bottom: 17.5vh;
  }

  .about-me-text-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .about-me-image {
    height: 20vh;
  }

  .about-left {
    width: 100vw;
    justify-content: center;
    padding-bottom: 5vh;
  }

  .about-left::after {
    content: "";
    position: absolute;
    height: 0.8vh;
    width: 65vw;
    background-color: aliceblue;
    transform: translateY(12vh);
  }

  .about-me-text {
    width: 90vw;
    margin-right: 0vw;
  }
}