* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.app {
  height: max-content;
  position: absolute;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

.app > * {
  overflow: hidden;
}

.app-header {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.headertext-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-header {
  font-size: 10rem;
}

.regular-header {
  font-size: 5rem;
  width: max-content;
  height: 7rem;
}

.small-header {
  font-size: 2.5rem;
}

.regular-text {
  font-size: auto;
}

.app main {
  flex: 1;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about-me-container {
  height: 120vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about-me-header {
  margin: 10vh 0px;
}

.about-me-text-container {
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20vh;
}

.about-me-text-header {
  margin-left: 20vw;
  text-transform: capitalize;
  width: 12vw;
}
.about-me-text-header::after {
  content: "";
  display: block;
  position: absolute;
  transform: translate(12vw, -60%);
  width: 1vw;
  height: 20vh;
  background-color: snow;
}

.about-me-text-header::before {
  content: "";
  display: block;
  position: absolute;
  transform: translate(-12vw, -35%);
  width: 20vh;
  height: 20vh;
  background-size: cover;
}

#me-info::before { background-image: url("./assets/Images/me.webp"); }
#experience-info::before { background-image: url("./assets/Images/experience.webp"); }
#hobbies-info::before { background-image: url("./assets/Images/hobbies.webp"); }

.about-me-text {
  width: 40vw;
  margin-right: 2vw;
}

#projects-wrapper {
  height: max-content;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#projects-header {
  margin-top: 10vh;
}

.projects-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3.125vw;
}
.projects-container:has(.project-container.active) {
  padding: 0px;
}





@media screen and (max-width: 768px) {
  .big-header {
    font-size: 12vw;
    max-width: 80vw;
  }

  .regular-header {
    font-size: 6vw;
    max-width: 70vw;
  }

  .about-me-header {
    margin: 1vh 0px 10vh 0px;
  }

  .about-me-container {
    height: 200vh;
  }

  .about-me-text-container {
    flex-direction: column;
    margin-bottom: 17.5vh;
  }

  .about-me-text-header {
    margin-left: 0vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
  }
  .about-me-text-header::after {
    transform: translate(0, 4vh);
    width: 80vw;
    height: 1vh;
  }
  .about-me-text-header::before {
    transform: translate(0, -8.5vh);
    width: 15vh;
    height: 15vh;
  }

  .about-me-text {
    width: 90vw;
    margin-right: 0vw;
  }
}