* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.app {
  height: 200vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

.app-header {
  aspect-ratio: 7 / 6;
  width: 100vw;
  background-image: url(assets/Images/bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 66%, rgba(0, 0, 0, 0));
}

.headertext-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header-name {
  font-size: 10rem;
}

#header-profession {
  font-size: 5rem;
  width: max-content;
  min-height: 7rem;
}

@media screen and (max-width: 768px) {
  #header-name {
    font-size: 12vw;
    max-width: 80vw;
  }

  #header-profession {
    font-size: 6vw;
    max-width: 70vw;
  }
}

.App main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}