@font-face {
  font-family: 'Diodrum';
  src: url(/assets/Fonts/Diodrum-Semibold.ttf);
}

:root {
  --primary_color: #222831;
  --secondary_color: #393E46;
  --tertiary_color: #00ADB5;
  --quaternary_color: #EEEEEE;
  --accent: #7A7AF9;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Diodrum', 'Roboto', sans-serif;
  background-color: var(--primary_color);
  background-image: url(/assets/Images/background.webp);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  color: var(--quaternary_color);
  height: max-content;
}

.no-scroll {
  overflow: hidden;
}

body > * {
  mask-image: none;
}

#root {
  position: relative;
}

@media screen and (max-width: 768px) {
  body {
    background-size: auto;
  }
}